<!DOCTYPE html>
<html ng-app="wBooksApp">
<head>
    <meta charset="utf-8">
    <title>wBooks - Demo Page</title>
    <link rel="stylesheet" href="dist/libs/bootstrap.min.css">
    <link rel="stylesheet" href="dist/css/style.css">
</head>
<body ng-controller="resultsCtrl">
	<header class="navbar mb-4" style="background-color: #999">
		<div class="input-group">
			<input ng-model="searchTerm" type="text" class="form-control" placeholder="Search for..." aria-label="Search for...">
			
			<span class="input-group-btn">
				<button ng-click="getSearch()" class="btn btn-secondary" type="button">Go!</button>
			</span>
		</div>
	</header>

	<div ng-show="bookData" class="container">
		<img ng-src="{{bookData.volumeInfo.imageLinks.small}}">

		<h1>{{bookData.volumeInfo.title}} <span ng-if="bookData.volumeInfo.subtitle">- {{bookData.volumeInfo.subtitle}}</span></h1>

		<p ng-if="bookData.volumeInfo.authors">{{bookData.volumeInfo.authors.join(', ')}}</p>

		<p ng-if="bookData.volumeInfo.publisher">{{bookData.volumeInfo.publisher}}</p>

		<div ng-if="bookData.volumeInfo.description" ng-bind-html="bookData.volumeInfo.description | htmlFilter"></div>

		<ul>
			<li ng-if="bookData.volumeInfo.pageCount">Páginas: {{bookData.volumeInfo.pageCount}}</li>
			<li ng-if="bookData.volumeInfo.language">Idioma: {{bookData.volumeInfo.language}}</li>
			<li ng-if="bookData.volumeInfo.publishedDate">Ano da Edição: {{bookData.volumeInfo.publishedDate | yearFilter}}</li>
		</ul>


		<i ng-click="bookData=null" class="icon-left-open"></i>
	</div>
	<!-- .container -->

	<div ng-if="searched" class="container">
		<p class="text-center">Você pesquisou por <mark>{{actualSearchTerm}}</mark></p>

		<div class="row">

			<div ng-repeat="item in bookResults" class="col-6">
				<section ng-click="bookInfo(item.id)">
					<img ng-src="{{item.volumeInfo.imageLinks.thumbnail}}">

					<h2>{{item.volumeInfo.title}}</h2>

					<p ng-if="item.volumeInfo.authors">{{item.volumeInfo.authors.join(', ')}}</p>

					<p ng-if="item.volumeInfo.publishedDate">{{item.volumeInfo.publishedDate | yearFilter}}</p>

					<i ng-click="item.markAs(!item.isFavorite)" ng-class="{'icon-star' : item.isFavorite , 'icon-star--empty' : !item.isFavorite}"></i>
				</section>
			</div>
			<!-- .col-* -->

		</div>
		<!-- .row -->

		<button ng-click="getPage()" type="button" class="btn btn-primary">Mais livros</button>
	</div>
	<!-- .container -->

   <script src="https://code.angularjs.org/1.6.5/angular.min.js"></script>
   <script src="https://code.angularjs.org/1.6.5/angular-resource.min.js"></script>
   <script src="https://code.angularjs.org/1.6.5/angular-route.min.js"></script>
   <script src="dist/libs/jquery.min.js"></script>
   <!-- <script src="dist/libs/angular.min.js"></script> -->
   <!-- <script src="dist/libs/bootstrap.min.js"></script> -->
   <script src="dist/js/functions.js"></script>
</body>
</html>